:root {
  --header-height: 350px;
  --header-padding: 160px;
  --header-opacity: .75;
  --site-accent-color: #ffa500;
  --common-white: #fff;
  --bg-img-home: url('../images/software-developer-6521720_1920.jpg') no-repeat;
  --bg-img-about: url('../images/about-header.jpg') no-repeat;
  --bg-img-portfolio: url('../images/portfolio-header.jpg') no-repeat;
  --bg-img-contact: url('../images/Sunset.jpg') no-repeat;
}

body {
  background: #101010;
  color: #808080;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (max-width: 992px) {
  #home {
    padding-top: 40px !important;
  }

  #home h1,
  #home h3 {
    line-height: 18px !important;
    font-size: 28px !important;
  }

  #home h3 {
    color: var(--site-accent-color);
  }
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

/* heading section */
h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: bold;
}

h1,
h2 {
  font-size: 30px;
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: transparent;
  border: 2px solid var(--common-white);
  border-radius: 0px;
  box-shadow: none;
  color: var(--common-white);
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}

.btn:hover {
  background: #009988;
  border-color: transparent;
}

.email {
  margin-top: 10px;
  padding: 8px 12px;
}

/* navigation */
.navbar-header span {
  font-size: 28px;
  color: var(--common-white);
  vertical-align: -webkit-baseline-middle;
}

.navbar-default {
  background: #202020;
  border: none;
  border-left: 6px solid var(--site-accent-color);
  padding-right: 40px;
  margin: 0 !important;
  position: relative;
  top: 20px;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  line-height: 40px;
  padding-top: 4px;
}

.navbar-default .navbar-nav li a {
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: var(--site-accent-color);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: var(--site-accent-color);
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  background: var(--site-accent-color);
  border-radius: 0px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #202020;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--site-accent-color);
}


.active {
  background: #333;
}

/* home section */
#home {
  background: var(--bg-img-home);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 85px;
  padding-bottom: 100px;
}

#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}

#home h3 {
  color: var(--site-accent-color);
}

#github-stats {
  margin: 40px auto 40px auto;
}

#github-stats h2, p {
  color: var(--common-white);
  text-align: center;
}
.container #github-block {
  margin: 20px 0 20px 0;
}
#recent-repos {
  margin-bottom: 50px;
}
#recent-repos #table-box {
  overflow-x: auto;
}
#recent-repos table {
  margin: auto;
  white-space: nowrap;
  border: 1px solid #1c1c1c;
  color: var(--common-white);
}
#recent-repos table th, td {
  padding: 0 10px 0 10px;
  line-height: 28px;
}

#recent-repos thead, tr:nth-child(even) {
  background-color: #1c1c1c;
}

#recent-repos h2 {
  padding-bottom: 20px;
  text-align: center;
}

#recent-repos a {
  font-weight: normal;
}

/* divider section */
.divider {
  color: var(--common-white);
  text-align: center;
}

.divider .fa {
  border: 2px solid var(--common-white);
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}

.divider h2 {
  padding-bottom: 4px;
}

.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}

.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}

.divider .divider-one {
  background: #c14000;
}

.divider .divider-two {
  background: #009988;
}

.divider .divider-three {
  background: var(--site-accent-color);
}

/* about section */
#about-header {
  background: var(--bg-img-about);
  background-size: cover;
  background-position: center;
  min-height: var(--header-height);
  padding-top: var(--header-padding);
  /* opacity: var(--header-opacity); */
}

@media (max-width: 992px) {
  #about-header h1 {
    padding-top: 40px !important;
  }
}

#about-header h3 {
  line-height: 30px;
  font-size: 40px;
}
#about-header h1 {
  line-height: 30px;
  font-size: 40px;
}
#about-header .container {
  margin: auto;
  width: fit-content;
}

#about {
  padding-top: 60px;
}

#about .container {
  background: #191919;
}

#about .col-md-6 {
  padding: 0;
  margin: 0;
}

#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

#about .btn {
  margin-top: 30px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 80px;
}

#team h2 {
  padding-bottom: 30px;
  text-align: center;
}

#team h3 {
  padding-bottom: 10px;
}

#team .team-wrapper {
  border: 2px solid #303030;
  padding: 20px;
}

#team h4 {
  color: #d54ab6;
}

#team hr {
  border-color: #303030;
  margin-top: 80px;
  margin-bottom: 80px;
}

#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}

#team .progress {
  border-radius: 0px;
  height: 4px;
}

/* portfolio section */
#portfolio-header {
  background: var(--bg-img-portfolio);
  background-size: cover;
  background-position: center;
  min-height: var(--header-height);
  padding-top: var(--header-padding);
}

#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

#portfolio h2 {
  padding-bottom: 20px;
}

#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}

#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}

#portfolio img:hover {
  opacity: 1;
}

#portfolio .btn {
  margin-top: 30px;
}

/* contact section */
#contact-header {
  background: var(--bg-img-contact);
  background-size: cover;
  background-position: center;
  min-height: var(--header-height);
  padding-top: var(--header-padding);
}

#contact-header h1 {
  line-height: 30px;
  font-size: 40px;
}

#contact-header .container {
  margin: auto;
  width: fit-content;
}

#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

#contact h2 {
  text-align: center;
  padding-bottom: 30px;
}

#contact .form-control {
  background: #202020;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  transition: all 0.4s ease-in;
  color: var(--common-white);
}

#contact .form-control:focus {
  background: #404040;
}

#contact input {
  height: 53px;
}

.form-control::-moz-placeholder {
  color: var(--common-white);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: var(--common-white);
}

.form-control::-webkit-input-placeholder {
  color: var(--common-white);
}

#map-canvas {
  border: none;
  width: 100%;
  height: 300px;
}

/* footer section */
footer {
  background: #1c1c1c;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

footer h3,
a {
  color: var(--common-white);
  font-weight: bold;
  padding-bottom: 10px;
}

footer .fa {
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
}

footer h3 {
  padding-bottom: 10px;
}

footer .form-control {
  background: transparent;
  border: 2px solid var(--common-white);
  border-radius: 0px;
  padding-bottom: 10px;
}

footer .form-control:focus,
footer .form-control:hover {
  color: var(--common-white);
  background: #806040;
  border-color: transparent;
}

footer .input-group-addon {
  background: var(--common-white);
}

footer a,
footer a:visited {
  font-size: 14px;
  color: #999;
}

footer a:hover {
  color: var(--common-white);
  text-decoration: none;
}

/* copyright section */
.copyright {
  margin: 10px 0px;
}

.copyright p {
  padding-top: 20px;
}

.social-icons {
  padding: 0px;
  margin: 0px;
}

.social-icons li {
  display: inline-block;
  list-style: none;
  background: #303030;
  margin: 10px 0px 0px 0px;
}

.social-icons li a {
  color: #909090;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.4s ease-in;

}

.social-icons li a:hover {
  background: var(--site-accent-color);
  color: var(--common-white);
}

@media (max-width: 768px) {
  .social-icons {
    text-align: center;
  }
}

/* media 960 */
@media (max-width: 980px) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }

  #about .about-des {
    padding-bottom: 40px;
  }

  #team .team-wrapper {
    margin-bottom: 40px;
  }

  #contact h3 {
    padding-top: 20px;
  }

  #contact .btn {
    margin-bottom: 20px;
  }

  footer h3 {
    padding-top: 30px;
  }
}